@import "tailwindcss";

@theme {
    --color-dark-blue: #0D1321;
    --color-yellow: #FDF202;
    --color-blue: #26348C;
    --color-offwhite: #D9D9D9;
    --font-recursive: "Recursive", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}